<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KTMPOS.Web</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-confirm-delete.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KTMPOS.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="d-flex flex-column bg-dark text-white position-fixed" style="width: 250px; height: 100vh;">
        <h5 class="text-center p-3">KtmPOS</h5>
        <hr class="border-light mx-3" />
        @if(User.Identity.IsAuthenticated)
        {
            <partial name="_HomeMenuPartial" />
            <partial name="_InventoryMenuPartial" />
            <partial name="_PurchaseBillingMenuPartial" />
            <partial name="_POSMenuPartial" />
            <partial name="_ReportingMenuPartial" />
        }
        <partial name="_AccountMenuPartial" />
    </div>
    <div class="ms-250" style="margin-left: 250px; padding: 1rem;">
        <!-- Card for content -->
        <div class="card shadow-sm">
            <div class="card-body">
                @if(TempData[Message.SuccessMessage] != null || TempData[Message.ErrorMessage] != null || TempData[Message.WarningMessage] != null)
                {
                    <div class="alert-container">
                        @if(TempData[Message.SuccessMessage] != null)
                        {
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                @TempData[Message.SuccessMessage]
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        }
                        @if(TempData[Message.ErrorMessage] != null)
                        {
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                @TempData[Message.ErrorMessage]
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        }
                        @if(TempData[Message.WarningMessage] != null)
                        {
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                @TempData[Message.WarningMessage]
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        }
                    </div>
                }
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap-confirm-delete.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
